# Visual Studio
esqueleto/Debug/
esqueleto/Release/
esqueleto/.vs/

# Prerequisites
esqueleto/*.d

# Compiled Object files
esqueleto/*.slo
esqueleto/*.lo
esqueleto/*.o
esqueleto/*.obj

# Precompiled Headers
esqueleto/*.gch
esqueleto/*.pch

# Compiled Dynamic libraries
esqueleto/*.so
esqueleto/*.dylib
esqueleto/*.dll

# Fortran module files
esqueleto/*.mod
esqueleto/*.smod

# Compiled Static libraries
esqueleto/*.lai
esqueleto/*.la
esqueleto/*.a
esqueleto/*.lib

# Executables
esqueleto/*.exe
esqueleto/*.out
esqueleto/*.app
